<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>文件上传</title>
</head>
<body>
  <h2>文件上传</h2>
  <hr>
  <form action="/sheet" method="post" enctype="multipart/form-data">
    用户名：<input type="text" name="username" /><br>
    头像：<input type="file" name="sheet" /><br>
    <button type="submit">提交</button>
  </form>
</body>
</html>